# Ignore
__pycache__
.ipynb_checkpoints
data/**/*.csv
data/**/*.npy
checkpoint/**/*.pt
checkpoint/**/*history.json
checkpoint/**/*.jl

fs_efficency/**/*.pt
fs_efficency/**/*history.json
fs_efficency/**/*.jl

wandb
tabtransformer
fttransformer
*.tar.xz
assets_o
